<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1><a href="{{ path('get_currency') }}">Let's see currency list</a></h1>
</body>
</html>