<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency table</title>
</head>
<body>

<table>
    <thead>
        <tr>
            <th>Currency name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
    {% for _currency in currency.list %}
        <tr>
            <td>{{ _currency.name }}</td>
            <td>{{ _currency.value | number_format(4) }}</td>
        </tr>
    {% endfor %}
    <tr></tr>
    </tbody>
</table>

</body>
</html>